<app-header></app-header>

    <!-- Feature Area Starts -->
    <section class="feature-area section-padding21">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-top text-center">
                        <h2>A propos de   nous</h2>
                      <p>
                          Elite Rh est un cabinet spécialisé dans les ressources humaines. Nos champs
                          d’expertise vont de l’intérim au placement en passant par le recrutement, la
                          formation, l’externalisation de la paie et le conseil en RH auprès d’entreprises
                          évoluant dans différents secteurs d’activité.
                          Très rapidement, notre expertise et le savoir-faire de nos collaborateurs nous ont
                          valu un franc succès dans le placement de personnel et le recrutement, notamment
                          dans les secteurs de l’immobilier, de l’agroalimentaire, de la pêche, des bâtiments et
                          travaux publics etc.
                        </p>
                        <p>Depuis sa création, Elite RH fonde sa réussite sur des principes et valeurs qui font d’elle un des leaders de l’intérim et du recrutement au Sénégal. C’est ainsi que le code de conduite chez nous est basé sur :</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-feature mb-4 mb-lg-0">
                        <h4>L’Intégrité</h4>
                        <img src="../../../assets/images/front-image/about-integrite-min.jpg" alt="">
                        <p class="py-3">Cette valeur illustre nos convictions et notre façon d’accompagner nos clients pour une collaboration de confiance mutuelle. Notre engagement auprès des clients est basé sur la transparence, gage de la sincérité de notre partenariat.</p>
                        <span class="bottom-check"><i class="fa fa-check fa-3x"></i></span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-feature mb-4 mb-lg-0">
                        <h4>La Responsabilité</h4>
                        <img src="../../../assets/images/front-image/responsabilite-min.jpg" alt="">
                        <p class="py-3">Nous faisons des préoccupations de nos clients les nôtres car la fidélisation de tout partenaire passe par sa satisfaction.</p>
                        <span class="bottom-check"><i class="fa fa-check fa-3x"></i></span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-feature">
                        <h4>L’Efficacité </h4>
                        <img src="../../../assets/images/front-image/about-efficacite-min.jpg" alt="">
                        <p class="py-3">Répondre de manière précise et adaptée aux besoins des clients dans les délais et ce, quelle que soit l’urgence.
                          « Ensemble, développons vos compétences ».</p>
                        <span class="bottom-check"><i class="fa fa-check fa-3x"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Feature Area End -->

      <!-- Feature Area Starts -->
  <section class="feature-area section-padding">
    <div class="container">
      <div class="row row-service">
        <div class="col-lg-6">
          <img src="../../../assets/images/front-image/about-mission-min.jpg" alt="">
        </div>
        <div class="col-lg-6">
          <div class="single-feature mb-4 mb-lg-0">
                <h2>Notre mission</h2>
                  <p>
                    Nous avons comme principale mission de mettre à la disposition de nos clients des
                    profils qui répondent parfaitement à leurs attentes et de créer des alliances
                    profitables entre les entreprises qui font appel à nous et les candidats que nous
                    accompagnons dans leur plan de carrière.
                    Déterminée à offrir des services de première qualité, Elite RH se fixe pour unique
                    mission : la satisfaction de ses collaborateurs !!!
                  </p>
          </div>
        </div>
      </div>
    </div>
</section>
<!-- Feature Area End -->

<app-footer></app-footer>
<app-scroll-top></app-scroll-top>
