<form (keydown.enter)="$event.preventDefault()" (ngSubmit)="addPost(addForm.value)" [formGroup]="addForm"
      class="form-style-9">
  <span class="titre">Publier une nouvelle offre d'emploi</span>
  <ul>
    <li>
      <input class="field-style field-split align-left" formControlName="titre" id="ftitre" placeholder="Titre du poste"
             required type="text"/>
      <select class="field-style field-split align-right" formControlName="lieu" id="flieu" required>
        <option value="">Lieu du poste</option>
        <option value="Dakar">Dakar</option>
        <option value="Diourbel">Diourbel</option>
        <option value="Fatick">Fatick</option>
        <option value="Kaffrine">Kaffrine</option>
        <option value="Kaolack">Kaolack</option>
        <option value="Kédougou">Kédougou</option>
        <option value="Kolda">Kolda</option>
        <option value="5Louga">Louga</option>
        <option value="Matam">Matam</option>
        <option value="aint-Louis">Saint-Louis</option>
        <option value="Sédhiou">Sédhiou</option>
        <option value="Tambacounda">Tambacounda</option>
        <option value="Thiès">Thiès</option>
        <option value="Ziguinchor">Ziguinchor</option>
      </select>
    </li>
    <li>
      <select class="field-style field-split align-left" formControlName="type" id="ftype" required>
        <option value="">Type de contrat</option>
        <option value="CDI">CDI</option>
        <option value="CDD">CDD</option>
        <option value="Stage">Stage</option>
        <option value="Intérim">Intérim</option>
        <option value="Prestation de services">Prestation de services</option>
      </select>
      <select class="field-style field-split align-right" formControlName="categorie" id="fcategorie" required>
        <option value="">Catégorie poste</option>
        <option value="Cadre">Cadre</option>
        <option value="Non cadre">Non cadre</option>
      </select>
    </li>
    <li>
      <select class="field-style field-full align-none" formControlName="secteur" id="fsecteur" required>
        <option value="">Secteur du post</option>
        <option value="Bâtiment et travaux publics">Bâtiment et travaux publics</option>
        <option value="Immobilier">Immobilier</option>
        <option value="Télécommunication">Télécommunication</option>
        <option value="Agroalimentaire">Agroalimentaire</option>
        <option value="Commerce">Commerce</option>
        <option value="Industries Alimentaires">Industries Alimentaires</option>
        <option value="Banques et Etablissements Financiers">Banques et Etablissements Financiers</option>
        <option value="Hôtellerie">Hôtellerie</option>
        <option value="Hôtellerie">Autres</option>
      </select>
    </li>
    <li>
      <input class="field-style field-split align-left" formControlName="structureName" id="fstructure_name"
             placeholder="Nom de la structure" required type="text"/>
      <input [min]="minDate" class="field-style field-split align-right" formControlName="dateVal" id="fdate_val"
             placeholder="Date de validation" required type="date"/>
    </li>
    <li>
      <input #fcompetences (keyup.enter)="addCompetences(fcompetences.value)" class="field-style field-full align-none"
             placeholder="Compétences" type="text"/>
    </li>
    <div *ngIf="competences.length !== 0" class="competences-container">
      <ul id="competences-list">
        <li *ngFor="let competence of competences"> {{competence}} <i (click)="deleteCompetence(competence)"
                                                                      class="fa fa-times-circle"></i></li>
      </ul>
    </div>
    <li>
      <editor [init]="{
          height: 500,
          menubar: false,
          placeholder: 'Missions et responsabilités',
          plugins: [
            'advlist autolink lists link image charmap print',
            'preview anchor searchreplace visualblocks code',
            'fullscreen insertdatetime media table paste',
            'help wordcount'
          ],
          toolbar:
            'undo redo | formatselect | bold italic | \
            alignleft aligncenter alignright alignjustify | \
            bullist numlist outdent indent | help'
        }" apiKey="ubn6d83k8mdxng9hvsvhrxzr018cdnzmqxt6vf4mh7vil0ie" class="field-style"
              formControlName="fiche"
              id="ffiche"
              initialValue="<p>Initial content of the editor</p>"
              required>
      </editor>


    </li>
    <li>
      <button [disabled]="!addForm.valid" type="submit" value="">Enregistrer l'offre d'emploi</button>
    </li>
  </ul>
</form>
