<mat-nav-list>
    <a mat-list-item  class="btn-link" [routerLink]="['/admin_home_elith_rh/post_add']">Nouveau un poste</a>
    <a mat-list-item  class="btn-link" [routerLink]="['/admin_home_elith_rh/post_list']">Tous les postes</a>
    <a mat-list-item  class="btn-link" [routerLink]="['/admin_home_elith_rh/candidaturesByFactory']">Candidatures par posts</a>
    <a mat-list-item  class="btn-link" [routerLink]="['/admin_home_elith_rh/candidatures']">Toutes les candidatures</a>
    <a mat-list-item  class="btn-link" [routerLink]="['/admin_home_elith_rh/user_list']" >Utilisateurs</a>
</mat-nav-list>
