<mat-nav-list>
  <a [routerLink]="['/admin_home_elith_rh/post_add']" class="btn-link" mat-list-item>Nouveau un poste</a>
  <a [routerLink]="['/admin_home_elith_rh/post_list']" class="btn-link" mat-list-item>Tous les postes</a>
  <a [routerLink]="['/admin_home_elith_rh/candidaturesByFactory']" class="btn-link" mat-list-item>Candidatures par
    posts</a>
  <a [routerLink]="['/admin_home_elith_rh/candidatures']" class="btn-link" mat-list-item>Toutes les candidatures</a>
  <a [routerLink]="['/admin_home_elith_rh/user_list']" class="btn-link" mat-list-item>Utilisateurs</a>
</mat-nav-list>
