<div class="content-all">
  <div class="filter">
    <label for="title"> Type de postes :
      <select (change)="onTypeChange($event.target.value)" class="input" id="title" name="type">
        <option value="">Tous les types</option>
        <option value="en-cours">Postes en cours</option>
        <option value="archives">Postes archivés</option>
      </select>
    </label>
    <label for="structure"> Structure:
      <input (keyup)="  onStructureChange($event.target.value)" class="input" id="structure" name="structure" ngModel
             placeholder="Nom de l'entreprise" type="text">
    </label>
    <span class="list-length">
        {{candidatures.length}} candidatures
      </span>
  </div>
  <div class="content-body">
    <div class="row">
      <div *ngFor="let candidature of candidatures | paginate:{itemsPerPage: 8, currentPage: p} ;let i = index "
           class="col-lg-10 mb-4">
        <div class="main-content">
          <div class="single-content1">
            <div class="single-job  d-lg-flex justify-content-between">
              <div class="job-text">
                <h4>{{candidature.prenom}} {{candidature.nom}}</h4>
                <ul class="mt-4">
                  <li class="mb-3"><h5><i class="fa fa-envelope"></i> {{candidature.email}}</h5></li>
                  <li class="mb-3"><h5><i class="fa fa-phone"></i>{{candidature.tel}}</h5></li>
                  <li><h5><i class="fa fa-birthday-cake"></i> {{candidature.dateNaissance}}</h5></li>
                </ul>
              </div>
              <div class="job-text">
                <h4>{{candidature.titre}}</h4>
                <ul class="mt-4">
                  <li class="mb-3"><h5><i class="fa fa-map-marker"></i> {{candidature.lieu}}, Sénégal</h5></li>
                  <li class="mb-3"><h5><i class="fa fa-pie-chart"></i> {{candidature.structureName}}</h5></li>
                  <li><h5><i class="fa fa-clock-o"></i> Expire le : {{candidature.dateVal}}</h5></li>
                </ul>
              </div>
              <div class="job-btn align-self-center">
                <a (click)="collapseCandidature(candidature)" class="forth-btn">{{candidature.label}}</a>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="candidature.isActive" class="candidature-info">
          <h4 class="align-self-center mb-4">Informations supplémentaires</h4>
          <div class="row">
            <div class="col-lg-6">
              <ul class="info-list">
                <li>Civilité</li>
                <hr>
                <li>Adresse</li>
                <hr>
                <li>Niveau d'étude</li>
                <hr>
                <li>Niveau d'expérience</li>
                <hr>
                <li>Domaine actuel</li>
                <hr>
                <li>Domaine recherché</li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul class="info-list">
                <li>{{candidature.civilite}}</li>
                <hr>
                <li>{{candidature.adresse}}</li>
                <hr>
                <li>{{candidature.etudeLevel}}</li>
                <hr>
                <li>{{candidature.experienceLevel}}</li>
                <hr>
                <li>{{candidature.actualDomain}}</li>
                <hr>
                <li>{{candidature.searchDomain}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="candidatures.length === 0" class="error-info">
      <span>
        Aucune candidature trouvée
      </span>
  </div>
  <div *ngIf="candidatures.length > 0" class="pagination">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
