<app-header></app-header>

    <!-- Feature Area Starts -->
    <section class="feature-area section-padding21">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-top text-center">
                        <h2>Nos services</h2>
                        <p>
                          Elite RH entend accompagner ses clients et ses candidats tout en leur garantissant un
                          service de qualité dans le plus grand professionnalisme.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row row-service">
            <div class="col-lg-6">
              <img src="../../../assets/images/front-image/service-interim-min.jpg" alt="">
            </div>
            <div class="col-lg-6">
              <div class="single-feature mb-4 mb-lg-0">
                <h4>INTERIM</h4>
                <p class="py-3">
                  Notre prestation en intérim comprend : le recrutement, l’externalisation, la sélection
                  et la mise à disposition du personnel suivant les besoins de nos clients.
                </p>
                 <ul class="list-item">
                   <li>
                     <i class="fa fa-arrow-right"></i>
                     <span>
                       Création de la base de données du personnel
                     </span>
                   </li>
                   <li>
                     <i class="fa fa-arrow-right"></i>
                     <span>
                       Elaboration des contrats de travail
                     </span>
                   </li>
                   <li>
                     <i class="fa fa-arrow-right"></i>
                     <span>
                       Gestion de la paie
                     </span>
                   </li>
                   <li>
                     <i class="fa fa-arrow-right"></i>
                     <span>
                       Gestion des affiliations et des déclarations sociales et fiscales
                     </span>
                   </li>
                   <li>
                     <i class="fa fa-arrow-right"></i>
                     <span>
                       Gestion des absences, congés et fins de contrat
                     </span>
                   </li>
                 </ul>
              </div>
            </div>
            </div>
            <div class="row row-service">
              <div class="col-lg-6">
               <div class="single-feature mb-4 mb-lg-0">
                <h4>RECRUTEMENT</h4>
                <p class="py-3">
                  Nous offrons aux entreprises des solutions en recrutement permanent et temporaire (CDI CDD et INTERIM). Notre processus de recrutement intègre des méthodes de
                  sélection efficaces afin de trouver la meilleure adéquation entre le poste à pourvoir et
                  les candidats sélectionnés.
                  Ainsi, notre méthodologie de recherche de profils se décline comme suit :
                </p>
                 <ul class="list-item">
                   <li>
                     <i class="fa fa-arrow-right"></i>
                     Rechercher des candidats
                   </li>
                   <li>
                     <i class="fa fa-arrow-right"></i>
                     Faire les entretiens de présélection et de sélection
                   </li>
                   <li>
                     <i class="fa fa-arrow-right"></i>
                     <span>
                       Faire passer aux candidats des tests de sélection de dernière génération
                      (tests techniques, bureautiques, de personnalité, d’aptitudes etc.)
                     </span>
                   </li>
                   <li>
                     <i class="fa fa-arrow-right"></i>
                     Suivre l’intégration du candidat recruté
                   </li>
                 </ul>
              </div>
            </div>
              <div class="col-lg-6">
              <img src="../../../assets/images/front-image/recrutement-min.jpg" alt="">
            </div>
          </div>
            <div class="row row-service">
              <div class="col-lg-6">
              <img src="../../../assets/images/front-image/service-formation-min.jpg" alt="">
            </div>
              <div class="col-lg-6">
                <div class="single-feature mb-4 mb-lg-0">
                <h4>FORMATION</h4>
                <p class="py-3">En collaboration avec nos consultants hautement qualifiés, nous organisons des
                  séminaires de formations adaptées pour votre personnel (dirigeants, cadres,
                  employés…) dans plusieurs domaines d’intervention, en inter ou en intra.
                </p>
                 <ul class="list-item">
                   <li>
                     <i class="fa fa-arrow-right"></i>
                     Une prise en charge administrative complète de la formation
                   </li>
                   <li>
                     <i class="fa fa-arrow-right"></i>
                      Une évaluation du formateur pour mesurer l’intérêt du séminaire et
                      évaluer les acquis des participants
                   </li>
                   <li>
                     <i class="fa fa-arrow-right"></i>
                     Un suivi post formation
                   </li>
                 </ul>
              </div>
              </div>
            </div>
            <div class="row row-service">
              <div class="col-lg-6">
                <div class="single-feature mb-4 mb-lg-0">
                <h4 class="h-transform">EXTERNALISATION DE LA PAIE</h4>
                <p class="py-3">
                  Concernant ce service, nous assurons exclusivement les aspects ci-dessous liés à la
                  paie :
                </p>
                 <ul class="list-item">
                   <li>
                     <i class="fa fa-arrow-right"></i>
                     <span>
                       Rassembler les éléments de la paie
                     </span>
                   </li>
                   <li>
                     <i class="fa fa-arrow-right"></i>
                     <span>
                      Assurer le règlement des salaires à bonne date
                     </span>
                   </li>
                   <li>
                     <i class="fa fa-arrow-right"></i>
                     <span>
                       Effectuer les reversements sociaux et fiscaux.
                     </span>
                   </li>
                 </ul>
              </div>
            </div>
              <div class="col-lg-6">
              <img src="../../../assets/images/front-image/service-exter-min.jpg" alt="">
            </div>
            </div>
        </div>
    </section>
    <!-- Feature Area End -->
<app-footer></app-footer>
<app-scroll-top></app-scroll-top>
