<ng-container *ngIf="!loading">
  <app-header></app-header>
  <!-- Banner Area Starts -->
  <section class="banner-area">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 px-0">
          <div class="banner-bg">
            <ngb-carousel
              [activeId]="'secondSlide'"
              [keyboard]="true"
              [pauseOnHover]="true"
              [showNavigationArrows]="true"
              [showNavigationIndicators]="false"
              [wrap]="true"
              interval="3000"
            >
              <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img alt="Angular Carousel 1" src="../../../assets/images/front-image/accueil1-min.jpg">
                </div>
                <div class="carousel-caption">
                  <h3 class="title">Elite RH</h3>
                  <p>Unissons nos compétences !!!</p>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img alt="Angular Carousel 1" src="../../../assets/images/front-image/accueil2-min.jpg">
                </div>
                <div class="carousel-caption">
                  <h3 class="title">Elite RH</h3>
                  <p>Unissons nos compétences !!!</p>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img alt="Angular Carousel 1" src="../../../assets/images/front-image/accueil3-min.jpg">
                </div>
                <div class="carousel-caption">
                  <h3 class="title">Elite RH</h3>
                  <p>Unissons nos compétences !!!</p>
                </div>
              </ng-template>
            </ngb-carousel>
          </div>
        </div>
        <div class="col-lg-4 align-self-center">
          <div class="opacity-header">
            <p *ngIf="showText" class="top-text-first">
              Vous êtes à la recherche d&#39;un emploi qui cadre avec vos ambitions ? 
              Vous êtes directeur d&#39;entreprise ou manager à la recherche de nouveaux
              collaborateurs ?
            </p>
            <p *ngIf="!showText" class="top-text-second">
              Elite RH crée des opportunités d&#39;emplois pour les candidats en phase avec vos
              visions et vos plans de carrière.
              Aux entreprises, nous vous offrons des solutions RH sur mesure afin de répondre
              amplement à vos besoins concernant le placement permanent ou temporaire.
            </p>
            <a (click)="switchText()" *ngIf="showText" class=" btn secondary-btn"> <i
              class="fa fa-arrow-right fa-3x"></i></a>
            <a (click)="switchText()" *ngIf="!showText" class=" btn secondary-btn"><i
              class="fa fa-arrow-left fa-3x"></i></a>
          </div>
        </div>

        <div class="col-lg-3 align-self-center animate">
          <div class="banner-text">
            <h1>Avec Elite RH, trouvez le <span>job</span> de vos rêves</h1>
            <p class="py-3">Bienvenue dans le monde des ressources humaines avec Elite RH, la référence dans le domaine.
              Chez nous, nos offres sont calibrées et adaptées aux besoins de nos clients. Nous n'avons qu'un seul et
              unique objectif : « Renforcer vos performances en vous offrant les
              <br> meilleurs profils ».</p>
            <a class="btn secondary-btn" href="#" routerLink="/job">Voir les offres d'emploi<span
              class="flaticon-next"></span></a>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- Banner Area End -->

  <!-- Search Area Starts -->
  <div class="search-area">
    <div class="search-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <form (ngSubmit)="search(searchObject.value)" [formGroup]="searchObject"
                  class="d-md-flex justify-content-between">
              <select formControlName="type" id="ftype">
                <option value="">Type de contrat</option>
                <option value="CDI">CDI</option>
                <option value="CDD">CDD</option>
                <option value="Stage">Stage</option>
                <option value="Intérim">Intérim</option>
                <option value="Prestation de services">Prestation de services</option>
              </select>
              <select formControlName="region" id="region">
                <option value="">Selectionner la région</option>
                <option value="Dakar">Dakar</option>
                <option value="Diourbel">Diourbel</option>
                <option value="Fatick">Fatick</option>
                <option value="Kaffrine">Kaffrine</option>
                <option value="Kaolack">Kaolack</option>
                <option value="Kédougou">Kédougou</option>
                <option value="Kolda">Kolda</option>
                <option value="Louga">Louga</option>
                <option value="Matam">Matam</option>
                <option value="Saint-Louis">Saint-Louis</option>
                <option value="Sédhiou">Sédhiou</option>
                <option value="Tambacounda">Tambacounda</option>
                <option value="Thiès">Thiès</option>
                <option value="Ziguinchor">Ziguinchor</option>
              </select>
              <select formControlName="secteur" id="secteur" required>
                <option value="">Secteur du poste recherché</option>
                <option value="Bâtiment et travaux publics">Bâtiment et travaux publics</option>
                <option value="Immobilier">Immobilier</option>
                <option value="Télécommunication">Télécommunication</option>
                <option value="Agroalimentaire">Agroalimentaire</option>
                <option value="Commerce">Commerce</option>
                <option value="Industries alimentaires">Industries alimentaires</option>
                <option value="Banques et établissements financiers">Banques et finances</option>
                <option value="Hôtellerie">Hôtellerie</option>
                <option value="Autres">Autres</option>
              </select>
              <button class="template-btn" type="submit">Trouvez un job</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Search Area End -->

  <!-- Feature Area Starts -->
  <section class="feature-area section-padding2">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-top text-center">
            <h2>Nos services</h2>
            <p>
              Elite RH entend accompagner ses clients et ses candidats tout en leur garantissant un service de qualité
              dans le plus grand professionnalisme.
            </p>
          </div>
        </div>
      </div>
      <div class="row row-service">
        <div class="col-lg-3">
          <div class="single-feature-image mb-4 mb-lg-0">
            <img alt="" src="../../../assets/images/front-image/service-interim-min.jpg">
          </div>
          <div class="single-feature mb-4 mb-lg-0">
            <h4>Intérim</h4>
            <span class="bottom-check"><a class="secondary-btn" href="#" routerLink="/service">En savoir plus<span
              class="flaticon-next"></span></a></span>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="single-feature-image mb-4 mb-lg-0">
            <img alt="" src="../../../assets/images/front-image/recrutement-min.jpg">
          </div>
          <div class="single-feature mb-4 mb-lg-0">
            <h4>Recrutement</h4>
            <span class="bottom-check"><a class="secondary-btn" href="#" routerLink="/service">En savoir plus<span
              class="flaticon-next"></span></a></span>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="single-feature-image mb-4 mb-lg-0">
            <img alt="" src="../../../assets/images/front-image/service-formation-min.jpg">
          </div>
          <div class="single-feature mb-4 mb-lg-0">
            <h4>Formation</h4>
            <span class="bottom-check"><a class="secondary-btn" href="#" routerLink="/service">En savoir plus<span
              class="flaticon-next"></span></a></span>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="single-feature-image mb-4 mb-lg-0">
            <img alt="" src="../../../assets/images/front-image/service-exter-min.jpg">
          </div>
          <div class="single-feature mb-4 mb-lg-0">
            <h4 class="h-transform">Externalisation de la paie</h4>
            <span class="bottom-check"><a class="secondary-btn" href="#" routerLink="/service">En savoir plus<span
              class="flaticon-next"></span></a></span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Feature Area End -->

  <!-- Category Area Starts -->
  <section class="category-area section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-top text-center">
            <h2>Trouver un emploi par secteur</h2>
            <p>Choisir un secteur d'emplois pour accéder à la liste des postes correspondants</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div (click)="searchSecteur(secteur.nom)" *ngFor="let secteur of secteurs; let i = index"
             class="col-lg-3 col-md-6">
          <div class="single-category category-job text-center mb-4">
            <img alt="category" src="assets/images/categories/{{secteur.img}}">
            <h4>{{secteur.nom}}</h4>
            <h5>{{getPostStat(secteur.nom)}}  job</h5>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Category Area End -->

  <!-- Jobs Area Starts -->
  <section class="jobs-area section-padding3">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="jobs-title">
            <h2>Parcourir les emplois récents</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="jobs-tab tab-item">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item li-active">
                <a (click)="changeCurrenType('', 0)" aria-controls="home" aria-selected="true" class="nav-link" data-toggle="tab"
                   href="#recent" id="home-tab" role="tab">récent</a>
              </li>
              <li class="nav-item li-active">
                <a (click)="changeCurrenType('CDI', 1)" aria-controls="profile" aria-selected="false" class="nav-link"
                   data-toggle="tab" href="#full-time" id="profile-tab" role="tab">CDI</a>
              </li>
              <li class="nav-item li-active">
                <a (click)="changeCurrenType('CDD', 2)" aria-controls="part-time" aria-selected="false" class="nav-link"
                   data-toggle="tab" href="#part-time" id="contact-tab" role="tab">CDD</a>
              </li>
              <li class="nav-item li-active">
                <a (click)="changeCurrenType('Prestation de services', 3)" aria-controls="profile" aria-selected="false"
                   class="nav-link" data-toggle="tab" href="#prestation" id="profile-tab" role="tab">Prestation
                  de services</a>
              </li>
              <li class="nav-item li-active">
                <a (click)="changeCurrenType('Intérim', 4)" aria-controls="part-time" aria-selected="false" class="nav-link"
                   data-toggle="tab" href="#interim" id="contact-tab" role="tab">Intérim</a>
              </li>
              <li class="nav-item li-active">
                <a (click)="changeCurrenType('Stage', 3)" aria-controls="profile" aria-selected="false" class="nav-link"
                   data-toggle="tab" href="#stage" id="profile-tab" role="tab">Stage</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="tab-content" id="myTabContent">
            <div aria-labelledby="home-tab" class="tab-pane fade show active" id="recent" role="tabpanel">
              <div (click)="openSingkeJob(post)" *ngFor="let post of posts | postsFilterByType : period | possFilterDate | lazyFilter : size; let i = index"
                   class="single-job mb-4 d-lg-flex justify-content-between">
                <div class="job-text">
                  <h4>{{post.titre}}</h4>
                  <ul class="mt-4">
                    <li class="mb-3"><h5><i class="fa fa-map-marker"></i> {{post.lieu}}, Sénégal</h5></li>
                    <li class="mb-3"><h5><i class="fa fa-pie-chart"></i> {{post.secteur}}</h5></li>
                    <li><h5><i class="fa fa-clock-o"></i> Ajouté le : {{post.dateCreate}}</h5></li>
                    <li><h5><i class="fa fa-clock-o"></i> Expire le : {{post.dateVal}}</h5></li>
                  </ul>
                </div>
                <div class="job-btn align-self-center">
                  <a class="forth-btn">{{post.type}}</a>
                  <img alt="job" src="assets/images/logo/ELITE%20RH%20HD.png">
                </div>
              </div>
            </div>
            <div aria-labelledby="profile-tab" class="tab-pane fade" id="full-time" role="tabpanel">
              <div (click)="openSingkeJob(post)" *ngFor="let post of posts | postsFilterByType : period | possFilterDate | typeJobFilter : currenType | lazyFilter : size; let i = index"
                   class="single-job mb-4 d-lg-flex justify-content-between">
                <div class="job-text">
                  <h4>{{post.titre}}</h4>
                  <ul class="mt-4">
                    <li class="mb-3"><h5><i class="fa fa-map-marker"></i> {{post.lieu}}, Sénégal</h5></li>
                    <li class="mb-3"><h5><i class="fa fa-pie-chart"></i> {{post.secteur}}</h5></li>
                    <li><h5><i class="fa fa-clock-o"></i> Ajouté le : {{post.dateCreate}}</h5></li>
                    <li><h5><i class="fa fa-clock-o"></i> Expire le : {{post.dateVal}}</h5></li>
                  </ul>
                </div>
                <div class="job-btn align-self-center">
                  <a class="forth-btn">{{post.type}}</a>
                  <img alt="job" src="assets/images/logo/ELITE%20RH%20HD.png">
                </div>
              </div>
            </div>
            <div aria-labelledby="contact-tab" class="tab-pane fade" id="part-time" role="tabpanel">
              <div (click)="openSingkeJob(post)" *ngFor="let post of posts | postsFilterByType : period | possFilterDate | typeJobFilter : currenType | lazyFilter : size; let i = index"
                   class="single-job mb-4 d-lg-flex justify-content-between">
                <div class="job-text">
                  <h4>{{post.titre}}</h4>
                  <ul class="mt-4">
                    <li class="mb-3"><h5><i class="fa fa-map-marker"></i> {{post.lieu}}, Sénégal</h5></li>
                    <li class="mb-3"><h5><i class="fa fa-pie-chart"></i> {{post.secteur}}</h5></li>
                    <li><h5><i class="fa fa-clock-o"></i> Ajouté le : {{post.dateCreate}}</h5></li>
                    <li><h5><i class="fa fa-clock-o"></i> Expire le : {{post.dateVal}}</h5></li>
                  </ul>
                </div>
                <div class="job-btn align-self-center">
                  <a class="forth-btn">{{post.type}}</a>
                  <img alt="job" src="assets/images/logo/ELITE%20RH%20HD.png">
                </div>
              </div>
            </div>
            <div aria-labelledby="contact-tab" class="tab-pane fade" id="stage" role="tabpanel">
              <div (click)="openSingkeJob(post)" *ngFor="let post of posts | postsFilterByType : period | possFilterDate | typeJobFilter : currenType | lazyFilter : size; let i = index"
                   class="single-job mb-4 d-lg-flex justify-content-between">
                <div class="job-text">
                  <h4>{{post.titre}}</h4>
                  <ul class="mt-4">
                    <li class="mb-3"><h5><i class="fa fa-map-marker"></i> {{post.lieu}}, Sénégal</h5></li>
                    <li class="mb-3"><h5><i class="fa fa-pie-chart"></i> {{post.secteur}}</h5></li>
                    <li><h5><i class="fa fa-clock-o"></i> Ajouté le : {{post.dateCreate}}</h5></li>
                    <li><h5><i class="fa fa-clock-o"></i> Expire le : {{post.dateVal}}</h5></li>
                  </ul>
                </div>
                <div class="job-btn align-self-center">
                  <a class="forth-btn">{{post.type}}</a>
                  <img alt="job" src="assets/images/logo/ELITE%20RH%20HD.png">
                </div>
              </div>
            </div>
            <div aria-labelledby="contact-tab" class="tab-pane fade" id="interim" role="tabpanel">
              <div (click)="openSingkeJob(post)" *ngFor="let post of posts | postsFilterByType : period | possFilterDate | typeJobFilter : currenType | lazyFilter : size; let i = index"
                   class="single-job mb-4 d-lg-flex justify-content-between">
                <div class="job-text">
                  <h4>{{post.titre}}</h4>
                  <ul class="mt-4">
                    <li class="mb-3"><h5><i class="fa fa-map-marker"></i> {{post.lieu}}, Sénégal</h5></li>
                    <li class="mb-3"><h5><i class="fa fa-pie-chart"></i> {{post.secteur}}</h5></li>
                    <li><h5><i class="fa fa-clock-o"></i> Ajouté le : {{post.dateCreate}}</h5></li>
                    <li><h5><i class="fa fa-clock-o"></i> Expire le : {{post.dateVal}}</h5></li>
                  </ul>
                </div>
                <div class="job-btn align-self-center">
                  <a class="forth-btn">{{post.type}}</a>
                  <img alt="job" src="assets/images/logo/ELITE%20RH%20HD.png">
                </div>
              </div>
            </div>
            <div aria-labelledby="contact-tab" class="tab-pane fade" id="prestation" role="tabpanel">
              <div (click)="openSingkeJob(post)" *ngFor="let post of posts | postsFilterByType : period | possFilterDate | typeJobFilter : currenType | lazyFilter : size; let i = index"
                   class="single-job mb-4 d-lg-flex justify-content-between">
                <div class="job-text">
                  <h4>{{post.titre}}</h4>
                  <ul class="mt-4">
                    <li class="mb-3"><h5><i class="fa fa-map-marker"></i> {{post.lieu}}, Sénégal</h5></li>
                    <li class="mb-3"><h5><i class="fa fa-pie-chart"></i> {{post.secteur}}</h5></li>
                    <li><h5><i class="fa fa-clock-o"></i> Ajouté le : {{post.dateCreate}}</h5></li>
                    <li><h5><i class="fa fa-clock-o"></i> Expire le : {{post.dateVal}}</h5></li>
                  </ul>
                </div>
                <div class="job-btn align-self-center">
                  <a class="forth-btn">{{post.type}}</a>
                  <img alt="job" src="assets/images/logo/ELITE%20RH%20HD.png">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="more-job-btn mt-5 text-center">
        <a (click)="getMorePost()" class="template-btn">Voir plus de jobs</a>
      </div>
    </div>
  </section>
  <!-- Jobs Area End -->

  <!-- Download Area End -->
  <app-footer></app-footer>
  <app-scroll-top></app-scroll-top>

</ng-container>
<app-loading-screen *ngIf="loading"></app-loading-screen>
