<div class="admin-container">
    <form [formGroup]="login" class="form" (ngSubmit)="onLogin(login.value)">
        <h2 class="title">Elite RH</h2>
    
        <div class="form-group">
            <input
            class="form-control input" 
            type="email" formControlName="email" 
            placeholder="Email"
            required/>
        </div>
    
        <div class="form-group">
            <input
            class="form-control input" 
            type="password" formControlName="password" 
            placeholder="Mot de passe"
            required/>
        </div>
    
        <input  [disabled]="login.invalid" class="btn input" type="submit" value="Valider"/>
        <p class="text-danger">{{ errorMessage }}</p>

    </form>
</div>


