<!-- Footer Area Starts -->
<footer class="footer-area section-padding">
  <div class="footer-widget">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-4">
          <div class="single-widget-home mb-5 mb-lg-0">
            <h3 class="mb-4">top services</h3>
            <ul>
              <li class="mb-2"><a href="#" routerLink="/about">Intérim</a></li>
              <li class="mb-2"><a href="#" routerLink="/about">Recrutement</a></li>
              <li class="mb-2"><a href="#" routerLink="/about">Formation</a></li>
              <li><a href="#" routerLink="/about">Externalisation de la paie</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-4 offset-xl-1 col-lg-5">
          <div class="single-widget-home mb-5 mb-lg-0">
            <h3 class="mb-4">Contact</h3>
            <p class="mb-4">Comptez sur nous pour répondre à toutes vos questions.</p>
            <a class="mr-4" href="#" routerLink="/contact">Envoyer un mail</a>
            <img alt="" src="../../../../assets/images/footer/emoji-smile_102022.png">
          </div>
        </div>

        <div class="col-xl-3 offset-xl-1 col-lg-3">
          <div class="d-flex">
            <div class="into-icon">
              <i class="fa fa-home"></i>
            </div>
            <div class="info-text">
              <h5>Dakar, Sénégal</h5>
              <p>239 Cité Keur Damel</p>
            </div>
          </div>
          <div class="d-flex">
            <div class="into-icon">
              <i class="fa fa-phone"></i>
            </div>
            <div class="info-text">
              <h5>+221 76 460 16 16</h5>
              <p>Horaire: 8H-17H</p>
            </div>
          </div>
          <div class="d-flex">
            <div class="into-icon">
              <i class="fa fa-envelope-o"></i>
            </div>
            <div class="info-text">
              <h5 class="h-transform">info.eliterh@gmail.com</h5>
              <p>Envoyez vos requêtes 24H/24!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-6">
                    <span>
Copyright &copy;{{getFullYear()}} Tous droits réservés | Ce site a été conçu par <a
                      href="https://www.linkedin.com/in/abdoulayekane/" target="_blank">Warriorkod</a>
</span>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="social-icons">
            <ul>
              <li><a href="https://web.facebook.com/Elite-RH-103531941059330" target="_blank"><i
                class="fa fa-facebook"></i></a></li>
              <li><a href="https://www.linkedin.com/company/elite-recrute" target="_blank"><i
                class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer Area End -->
