<div class="container-users">
  <table [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" datatable>
    <thead>
    <tr>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Email</th>
      <th>Tel</th>
      <th>Date de naissance</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of users">
      <td>{{ item.nom }}</td>
      <td>{{ item.prenom }}</td>
      <td>{{ item.email }}</td>
      <td>{{ item.tel }}</td>
      <td>{{ item.dateNaissance }}</td>
      <td>
        <button (click)="onClick(item)" [ngClass]="[checkStatus(item)]" class="btn" mat-raised-button><span
          *ngIf="item.active">Désactiver</span> <span *ngIf="!item.active">Activer</span></button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
