<app-header-admin></app-header-admin>
<div class="home-container">
    <div class="content">
        <mat-sidenav-container class="example-container">
            <mat-sidenav mode="side" opened class="sidebar">
              <app-sidebar-admin></app-sidebar-admin>
            </mat-sidenav>
            <mat-sidenav-content>
                <router-outlet></router-outlet>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>

</div>
<app-footer-admin></app-footer-admin>


